@media (max-width:1199px){

    .container{
        max-width: 950px;
    }
   .intro .imgs img{
       width: 400px;
   }

}
@media (max-width:991px){
.intro-content .main-title{
    font-size: 3rem;
}
.difference .line h4{
    background: #FFF0EC;
border-radius: 39px 0px 0px 39px;

}
.difference::after{
    content: none;
}
.difference .row{
    flex-wrap: wrap;
}
.difference-text{
    width: 100%;
}
.difference .information{
    width: 100%;
}

.last-section .page-title{
    font-size: 1.85rem;
}
.main-footer .sayts{
width: 100%;
}



}
@media (max-width:767px){

    .container{
        padding: 50px 0;
    }
     .main-nav{
        display: none;
    }
    .main-header .btn{
        display: none;
    }
    .intro .imgs{
        width: 100%;
        order: -1;
    }
    .intro-content{
        width: 100%;
        text-align: center;
    }

    .intro .row{
        flex-wrap: wrap;
    }
    .main-footer .row{
        flex-wrap: wrap;
    }
    .footer-form{
        order: -4;
    }
    
    .sayts{
        display: flex;
        flex-wrap: wrap;
        }
    .links{
        order: -2;
        width: 100%;
    }
  
    .main-footer .row2{
        display: flex;
        order: -3;
    }
}
@media (max-width:565px){

     .imgmenu{
       display: block ;
    }

    .intro-content .main-title{
        font-size: 3rem;
        /* width: 309px ; */
    }
    .intro-content{
        width: 100%;

    }
    
    .difference-text{
        width: 323px;
        text-align: center;
    }
    .line h4 {
        padding: 10px;
    } 

    .coments .card{
        height: 248px;
        
    }
    .card .page-text{
        width: 298px;
        text-align: center;
    }
    .card img{
        left: 43%;
    }
 
    .row2 .circles{
        margin-left: auto;
        margin-right: auto;
    }
    .circles{
        display: block;
       
        width: 43px;
        height: 7px;
    }
    .last-section .row{
        flex-wrap: wrap;
    }
    .last-section .page-title{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 29px;
    }
    .last-section .btn2{
        margin-left: auto;
        margin-right: auto;
    }
   .intro .page-text{
       margin-left: 50px;
   }
   .difference-text{
       margin-left: 50px;
   }
   .info{
    margin-left: 20px;
}
.line{
    width: 100%;
}
.number{
    position: absolute;
}
.line h4{
    padding-left: 80px;
   
}
}
@media (max-width:480px){

    .main-header .imgmenu{
        margin-right: 20px;
    }

    .intro{
        padding-top: 0;
    }
    .intro .imgs img{
        width: 400px;
        margin-top: 0px;
        margin-left: 20px;
    }
 
    .last-section .page-title{
        font-size: 2.60rem;
    }
    .main-footer .menu{
        margin-top: 30px;
    }
    .main-footer .menu :nth-child(1){
        margin-right: 30px;
    }
    .main-footer .links{
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    .links i{
        font-size: 2.30rem;
    }
    .links :not(:last-child){
        margin-right: 20px;
    }
    .logo{
        margin-left: auto;
        margin-right: auto;
    }
    .main-footer .footer-form{
        position: relative;
    }
    .main-footer p{
        position: absolute;
        top: 300px;
        left: 50px;
    }
   
  
    }